<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Åukasz Holeczek">
    <meta name="keyword"
        content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,Angular 2,Angular4,Angular 4,jQuery,CSS,HTML,RWD,Dashboard,React,React.js,Vue,Vue.js">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>CoreUI - Open Source Bootstrap Admin Template</title>

    <!-- Main styles for this application -->
    <link href="/css/admin.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <!-- Styles required by this views -->

</head>

<body class="">

    <div class="app-body">

        <!-- Main content -->
        <main class="main">

            <div class="container-fluid">
                {{{body}}}
            </div>
            <!-- /.conainer-fluid -->
        </main>

    </div>

    <script src="/js/admin.js"></script>

</body>

</html>