<!DOCTYPE html>
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Show &mdash;ACR Book Shop</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5" />
	<meta name="author" content="FreeHTML5.co" />
	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link rel="shortcut icon" href="favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="/asset/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/asset/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/asset/css/bootstrap.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="/asset/css/style.css">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/asset/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/asset/css/owl.theme.default.min.css">
	<!-- Modernizr JS -->
	<script src="/asset/js/modernizr-2.6.2.min.js"></script>
</head>

<body>

	<header id="fh5co-header" style="background-image: url(images/hero_bg_1.jpg)">
		<div class="overlay"></div>
		<div class="container">
			<div class="row" style="margin-top: 5em;">
				<div class="col-md-12 text-center">
					<h1 id="fh5co-logo" class="cursive-font"><a href="/">ACR Book Shop</a></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="intro">

						<h2>We are here to sell Books <a href="/order">Buy Now</a></h2>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<figure class="fh5co-intro-img">
						<img class="img-1 animate-box" src="/asset/images/book_black.png"
							alt="Free Website Template by FreeHTML5.co">
						<img class="img-2 animate-box" src="/asset/images/book_white.png" i
							alt="Free Website Template by FreeHTML5.co">
					</figure>
				</div>
			</div>
		</div>
	</header>

	{{{body}}}

	<footer id="footer">
		<div class="container">
			<div class="col-md-12 text-center">
				<p class="copyright">
					<small>&copy; ACR Book Shop
						<script>
							var d = new Date();
							document.write(d.getFullYear());
						</script>
					</small>
					<em><small>Designed by <a href="" target="_blank">ACR Book Shop</a></em>
				</p>
				<ul class="fh5co-social">

					<li><a href="#"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-linkedin"></i></a></li>
					<li><a href="#"><i class="icon-apple"></i></a></li>
				</ul>
			</div>
		</div>
	</footer>
	<!-- jQuery -->
	<script src="/asset/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/asset/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/asset/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/asset/js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="/asset/js/owl.carousel.min.js"></script>
	<!-- MAIN JS -->
	<script src="/asset/js/main.js"></script>
</body>

</html>