<div id="main">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-4">
				<div class="review text-center">
					<figure>
						<img src="/asset/images/person_3.jpg" alt="user">
					</figure>
					<span>Aquib Mehmood</span>
					<span class="star">
						<i class="icon-star colored"></i>
						<i class="icon-star colored"></i>
						<i class="icon-star colored"></i>
						<i class="icon-star colored"></i>
						<i class="icon-star colored"></i>
					</span>
					<blockquote>
						<p>&ldquo;My suggestions are if you buy online please buy from this website.I am also using this. it is a very good website.&rdquo;</p>
					</blockquote>
				</div>
			</div>
			<div class="col-md-4">
				<div class="review text-center">
					<figure>
						<img src="/asset/images/person_2.jpg" alt="user">
					</figure>
					<span>naman jain </span>
					<span class="star">
						<i class="icon-star colored"></i>
						<i class="icon-star colored"></i>
						<i class="icon-star colored"></i>
						<i class="icon-star colored"></i>
						<i class="icon-star colored"></i>
					</span>
					<blockquote>
						<p>&ldquo;This site is so simple and easy to navigate it.we can easily get books online. you get enjoy reading book.&rdquo;</p>
					</blockquote>
				</div>
			</div>
			<div class="col-md-4">
				<div class="review active text-center">
					<figure>
						<img src="/asset/images/person_1.jpg" alt="user">
					</figure>
					<span>Jay Shetty </span>
					<span class="star">
						<i class="icon-star colored"></i>
						<i class="icon-star colored"></i>
						<i class="icon-star colored"></i>
						<i class="icon-star colored"></i>
						<i class="icon-star"></i>
					</span>
					<blockquote>
						<p>&ldquo;This site very much simple easier to buy books and get it online.the book you get is very enjoyable to read.books are one which gives the information about everything we need.&rdquo;</p>
					</blockquote>
				</div>
			</div>
		</div>
		<div class="row fh5co-feature">
			<div class="col-md-6 col-md-push-6">
				<div class="fh5co-copy">
					<div class="fh5co-copy-inner">
						<h2>Easy Order</h2>
						<p>You can easily make an order from our site <a href="Order Now"></a>.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-md-pull-6">
				<div class="fh5co-img text-right">
					<figure class="fh5co-figure animate-box">
						<img class="img-2" src="/asset/images/book_white.png"
							alt="Free Website Template by FreeHTML5.co">
					</figure>
				</div>
			</div>
		</div>
		<!-- END feature -->

		<div class="row fh5co-feature fh5co-reverse">
			<div class="col-md-6">
				<div class="fh5co-copy">
					<div class="fh5co-copy-inner">
						<h2>We Sell Ebook Also</h2>
						<p>We Sell E-book Also.. Buy Ebook and Save Mony <a href="/order">Buy Ebooks</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="fh5co-img text-left">
					<figure class="fh5co-figure animate-box">
						<img class="img-2" src="/asset/images/book_black.png"
							alt="Free Website Template by FreeHTML5.co">
					</figure>
				</div>
			</div>
		</div>
		<!-- END feature -->

		<div class="row fh5co-feature last-feature">
			<div class="col-md-6 col-md-push-6">
				<div class="fh5co-copy">
					<div class="fh5co-copy-inner">
						<h2>Our Books is orginal</h2>
						<p>We don,t sell clone or copy book all book is original.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-md-pull-6">
				<div class="fh5co-img text-right">
					<figure class="fh5co-figure animate-box">
						<img class="img-2" src="/asset/images/book_white.png"
							alt="Free Website Template by FreeHTML5.co">
					</figure>
				</div>
			</div>
		</div>
		<!-- END feature -->
	</div>
	<div class="fh5co-testimonial">
		<div class="container">
			<div class="row text-center fh5co-heading">
				<h2>More Customer Review</h2>
			</div>
			<div class="owl-carousel owl-carousel-fullwidth">
				<div class="item">
					<div class="testimony-slide active text-center">
						<figure>
							<img src="/asset/images/person_1.jpg" alt="user">
						</figure>
						<span>Omkar Sharma </span>
						<span class="review">
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
							<i class="icon-star"></i>
						</span>
						<blockquote>
							<p>&ldquo;Buy the books from this website give so much varieties of books and the delivery also fast and the quality is very good, printing is nice and prices are less than others im loving this website for books .&rdquo;</p>
						</blockquote>
					</div>
				</div>
				<div class="item">
					<div class="testimony-slide active text-center">
						<figure>
							<img src="/asset/images/person_2.jpg" alt="user">
						</figure>
						<span>Arpan Garg </span>
						<span class="review">
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
						</span>
						<blockquote>
							<p>&ldquo;I found this website is very helpful for students who are searching for competitive books. I am very thankful for arranging my desired boos I needed for preparation of my upcoming exams.&rdquo;</p>
						</blockquote>
					</div>
				</div>
				<div class="item">
					<div class="testimony-slide active text-center">
						<figure>
							<img src="/asset/images/person_3.jpg" alt="user">
						</figure>
						<span>yasir shah</span>
						<span class="review">
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
							<i class="icon-star colored"></i>
						</span>
						<blockquote>
							<p>&ldquo;The books are really awesome. Publications are good and the content was very useful in our personal life.
                                The customer service is very good.&rdquo;</p>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="features">
		<div class="container">
			<div class="row text-center fh5co-heading">
				<div class="col-md-8 col-md-offset-2">
					<h2>More Features</h2>
				 
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 animate-box">
					<div class="feature-center">
						<span class="icon">
							<i class="icon-tablet"></i>
						</span>
						<h3>SHOP ON THE GO</h3>
						<p>Download the app and get exciting app only offers at your fingertips</p>
					</div>
				</div>
				<div class="col-md-3 animate-box">
					<div class="feature-center">
						<span class="icon">
							<i class="icon-heart"></i>
						</span>
						<h3>24x7 HELP</h3>
						<p>Need Help?You can talk to us on 01523743987 to resolve your query.</p>
					</div>
				</div>
				<div class="col-md-3 animate-box">
					<div class="feature-center">
						<span class="icon">
							<i class="icon-star"></i>
						</span>
						 	<h3>100% Assurance</h3>
						<p> we provide 100% assurance. If you have any issue, your money is immediately refunded. Sit back and enjoy your shopping.</p>
					</div>
				</div>
				<div class="col-md-3 animate-box">
					<div class="feature-center">
						<span class="icon">
							<i class="icon-cog"></i>
						</span>
						<h3>PRIVACY</h3>
						<p>We respect the privacy of our user and keep safe.privacy policy</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="get-subscribe">
		<div class="container">
			<div class="row text-center fh5co-heading">
				<div class="col-md-8 col-md-offset-2">
					{{!-- <h2>Subscribe</h2> --}}
					<h2>Sign up for our Newsletter</h2>
					<p>Tell us what books you love.</p>
				</div>
			</div>
			<div class="get-subscribe">
				<form class="form-inline">
					<div class="col-md-4 col-sm-4">
						<div class="form-group">
							<label for="name" class="sr-only">Name</label>
							<input type="text" class="form-control" id="name" placeholder="Name">
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="email" class="form-control" id="email" placeholder="Email">
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<button type="submit" class="btn btn-default btn-block">Subscribe</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>