<div style="padding-top: 18%;">
    <h1 style="text-align: center">Your Order has been Placed</h1>
    <h5 style="text-align: center">Thanks For Staying with us.</h5>
    <p style="text-align: center"><a href="/order">Make new Order</a></p>
</div>